@mixin inputbox {
  font-size: 17px;
  padding: 14px 16px;
  border-radius: 6px;
  background: #FFFFFF;
  border: 1px solid #dddfe2;
  color: #1d2129;
  height: 48px;
  line-height: 16px;
  vertical-align: middle;
}