.post_btn {
  background-color: rgb(45, 136, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}

.post_input {
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}